POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=location
POSTGRES_PORT = 5432
POSTGRES_HOST = localhost
DATABASE_URL=postgres://user:password@localhost:5432/location?sslmode=disable

KAFKA_BROKERS_MINIKUBE=localhost:9094
KAFKA_BROKERS_K8S=192.168.8.19:32473
#APP_ENV=minikube
APP_ENV=k8s